*{
	margin: 0;
	padding: 0;
}

.contenedor{
	display: flex;
	flex-direction: column;
	min-height: 100vh; /*vh es medida relativa, hará que se adapte a la página*/
	
}

.encabezado{
	background: #6a92c2;
	color: white;
	padding: 25px;
	margin: center;
}

.contenido{
	display: flex;
	flex-direction: space-between;
	flex: 1;
	background: #e7f2ff;
}

.texto1{
	padding: 15px;
	margin: 10px;
	border: 1px solid lightgray;
	box-shadow: 5px 5px rgba(100, 50, 120, 0.5);
	flex: 1;
}

.texto2{
	padding: 15px;
	margin: 10px;
	box-shadow: 5px 5px rgba(100, 50, 120, 0.5);
	border: 1px solid lightgray;
	flex: 1;
}

.pie{
	padding: 15px;
	border: 1 px lightblue;

}

@media(max-width:500px){
	.contenido{
		flex-direction: column;
	}
}