 body{
 	background-color: #bffeff;
 }

 table{
 	width: 100%;
 	border: 1px solid #62a7a7;
 	border-collapse: collapse;
 	caption-side: top;
 }

 td, th{
 	border: 1px solid #62a7a7;
 }

 /*Fondo para filas impares*/
 table tr:nth-child(odd){
 	background-color: white;
 }

 /*Fondo para filas pares*/
 table tr:nth-child(even){
 	background-color: #b3c0c0;
 }

 table tr th{
 	background-color: #607e7e;
 	color: white;
 }

 table tr:hover{
 	background-color: #6e9f9f;
 }